.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.nav {
  border: 1px solid #cc0000;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem; /* Добавляет промежуток между карточками */
}

.cardItem {
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
  margin: 0.5rem;
}
