/*=====================
  5.2 Dark CSS start
==========================*/
.alert-primary {
    color: #257dff;
}

.alert-success {
    color: #67b992;
}

.alert-warning {
    color: #ca9702;
}

.alert-danger {
    color: #d41e2e;
}