@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #f5f4f6;
		--background-400: #fffdff;

		--primary: #0a080a;
		--primary-400: #87868a;
		--primary-100: #fbfafe;

		--secondary: #0081ff;

		--accent: #dc4d47;
		--success: #24851f;
		--danger: #d52631;
		--star: #f2bc5f;
		--border: #f9f7fc;

		--radius: 0.5rem;
	}
}

@layer base {
	/* * {
		@apply border-border;
	} */
	body {
		@apply bg-background text-primary;
	}

	/* @supports (font-variation-settings: "wdth" 115) {
		@font-face {
			font-family: "Inter";
			src: url(/fonts/Inter-VariableFont.ttf) format("ttf-variations");
			font-weight: 125 950;
			font-stretch: 75% 125%;
			font-style: oblique 0deg 20deg;
		}
	}

	@supports not (font-variation-settings: "wdth" 115) {
		@font-face {
			font-family: "Inter";
			font-display: swap;
			font-style: normal;
			font-weight: 900;
			src: url(/fonts/Inter-Black.ttf) format("ttf");
		}
		@font-face {
			font-family: "Inter";
			font-display: swap;
			font-style: normal;
			font-weight: 800;
			src: url(/fonts/Inter-ExtraBold.ttf) format("ttf");
		}
		@font-face {
			font-family: "Inter";
			font-display: normal;
			font-style: bold;
			font-weight: 700;
			src: url(/fonts/Inter-Bold.ttf) format("ttf");
		}
		@font-face {
			font-family: "Inter";
			font-style: normal;
			font-weight: 600;
			font-display: swap;
			src: url(/fonts/Inter-SemiBold.ttf) format("ttf");
		}
		@font-face {
			font-family: "Inter";
			font-style: normal;
			font-weight: 500;
			font-display: swap;
			src: url(/fonts/Inter-Medium.ttf) format("ttf");
		}
		@font-face {
			font-family: "Inter";
			font-style: normal;
			font-weight: 400;
			font-display: swap;
			src: url(/fonts/Inter-Regular.ttf) format("ttf");
		}
		@font-face {
			font-family: "Inter";
			font-style: normal;
			font-weight: 300;
			font-display: swap;
			src: url(/fonts/Inter-Light.ttf) format("ttf");
		}
		@font-face {
			font-family: "Inter";
			font-display: swap;
			font-style: normal;
			font-weight: 200;
			src: url(/fonts/Inter-ExtraLight.ttf) format("ttf");
		}
		@font-face {
			font-family: "Inter";
			font-style: normal;
			font-weight: 100;
			font-display: swap;
			src: url(/fonts/Inter-Thin.ttf) format("ttf");
		}
	} */

	/* html,
	:host {
		font-family: Inter, ui-sans-serif, system-ui, sans-serif,
			"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
			"Noto Color Emoji";
	} */
}
