{% extends "admin/change_form.html" %}

{% block content_title %}
    <div style="margin-bottom: 15px;" class="row col-12">
        <span style="font-size: 20px;"> {{data.title}} </span>
        {% for language in data.languages %}
            <a style="color: white;" target="_blank" href="http://127.0.0.1:8000/admin/tour/langtour/{{language.id}}">
                <div style="display: inline; margin: 10px; box-shadow: 3px 5px 20px 2px rgb(34 60 80 / 20%); padding: 8px; border-radius: 5px; background: #999999;">
                    {{ language.name }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}